{% extends 'base.html' %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Description</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>{% for item in list %}
        <tr>
            <td>{{ item.description }}</td>
            <td><a class="btn btn-info" href="../list/done/{{ item.id }}" role="button">SHP to Postgis SQL</a></td>
            <td><a class="btn btn-danger" href="" role="button">Delete</a></td>
        </tr> {% endfor %}
    </tbody>
</table>

  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}